.container {
    background-color: var(--lightback2);
    height: 100vh;
    position: relative;
}

.inner-container {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.covergen {
    display: flex;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-acce1);
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 4rem;
    left: 7rem;
}

.covergen img {
    max-width: 3em;
}
