.container {
    background-color: #dcecec;
    height: 100vh;
    position: relative;
}

.inner-container {
    /* max-width: 100rem;
    margin: 0 auto; */
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.covergen {
    display: flex;
    font-size: 2rem;
    font-weight: 600;
    color: #7e80a9;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 4rem;
    left: 7rem;
}

.covergen img {
    max-width: 3em;
}
