.button {
    background-color: var(--primary-color);
    padding: 1em;
    border-radius: 1em;
}

.button-text {
    font-size: 1.6em;
    color: white;
    font-weight: 300;
    text-align: center;
}
