.button {
    background-color: var(--sl-color-acce2);
    padding: 1em;
    border-radius: 1em;
}

.button-text {
    font-size: 1.6em;
    color: var(--sl-color-neutral1);
    font-weight: 300;
    text-align: center;
}
